
# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# production
/dist
/.vscode

### Maven ###
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
#build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### NPM ###
node_modules/
npm-debug.log*
package-lock.json

### YARN ###
yarn.lock
yarn-debug.log*
yarn-error.log*

### Webpack ###
.webpack/

### Ant Design ###
coverage/

### Misc ###
target/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/coverage
jsconfig.json

### Editor directories and files ###
*.suo
*.ntvs*
*.njsproj
*.sln

### gitbook ###
_book
/src/site/markdown/assets/images/uml/*.png
